$content-width: 1100px;
$roboto: 'Roboto', sans-serif;
$main-color: #272727;

html {
  scroll-behavior: smooth;
}

.body {
  font-family: $roboto;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: $main-color;
  transition: all 0.6s;
  &-scroll {
    background-color: rgba(39, 39, 39, 0.6);
    transition: all 1s;
  }
  &__logo {
    width: 60px;
    height: auto;
    margin-left: 60px;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: $content-width;
    margin: 0 auto;
  }
}

.menu {
  display: flex;
  &__list {
    display: flex;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    margin-right: 32px;
    color: white;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu__hamburger {
  display: none;
}

.hamburger-active {
  stroke: #fff;
}

.cross-active {
  stroke: #fff;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: blue;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  &__heading {
    text-align: center;
    font-size: 72px;
    color: white;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: white;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: gray;
      transition: all 0.3s;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  max-width: $content-width;
  margin: 36px auto;
  overflow: hidden;
  &__heading {
    font-size: 36px;
    margin-bottom: 60px;
  }
}

.history {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  &__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: -200px;
  }
  &__text {
    width: 35%;
  }
}

.future {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  &__image {
    width: 90%;
    max-width: 400px;
    height: auto;
  }
  &__text {
    width: 33%;
  }
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  &__title {
    font-size: 36px;
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  &__input {
    width: 96%;
    padding: 8px 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 0;
  }
  &__textarea {
    width: 96%;
    padding: 8px 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 0;
    resize: vertical;
    height: 200px;
    max-height: 300px;
  }
  &__submit-btn {
    align-self: flex-end;
    width: 120px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: gray;
      transition: all 0.3s;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: $main-color;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-width: 300px;
    max-width: $content-width;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
  }
  &__address {
    display: flex;
    align-items: center;
    // margin-top: 16px;
    // margin-bottom: 32px;
    font-size: 14px;
    color: white;
  }
  &__icon {
    margin-right: 16px;
  }
  &__menu {
    display: flex;
    margin-right: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 150px;
    list-style: none;
    padding: 0;
  }
  &__item {
    margin: 8px 8px 0 0;
  }
  &__link {
    display: flex;
    max-width: 200px;
    word-wrap: break-word;
    margin-right: 16px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__line {
    display: flex;
    align-self: center;
    width: 100%;
    min-width: 300px;
    max-width: $content-width;
    border-bottom: 1px solid white;
  }
  &__copyright {
    align-self: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 300;
    color: white;
  }
}

@media (max-width: 769px) {
  .menu__list {
    display: none;
    &-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      padding: 0;
      left: 0;
      top: 60px;
      width: 100%;

      background-color: $main-color;
    }
  }

  .menu__item-active {
    display: flex;
    width: 100%;
    height: 74px;
    padding: 0;
    border-bottom: 1px solid white;
    &:first-child {
      border-top: 1px solid white;
    }
  }

  .menu__hamburger {
    display: flex;
    margin-right: 60px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .title-section {
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: auto 1100px;
  }

  .history {
    align-items: center;
    flex-direction: column;
    &__text {
      width: 80%;
    }
  }

  .future {
    align-items: center;
    flex-direction: column;
    &__text {
      width: 80%;
    }
  }

  .contacts {
    background-repeat: no-repeat;
    background-position: right 0% bottom 10%;
    background-size: auto 1100px;
  }

  .form {
    width: 70%;
  }

  .footer__content {
    flex-direction: column;
    overflow: hidden;
  }

  .footer__info {
    width: 100%;
    margin: 0 0 0 32px;
  }

  .footer__menu {
    display: flex;
    margin: 0 0 0 32px;
    width: 100%;
    justify-content: flex-start;
  }
}
